<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Juicy ToDos</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>


  <body>
    <div class="box" id="heading">
      <h2>Today is <%=date%></h2>

    </div>
    <div class="box">
      <% for(let i = 0; i < newItems.length;i++){ %>
      <div class="item"><li><%=newItems[i]%></li></div>

      <% } %>

      <form method="post" action="/" class="">
        <input type="text" alt="Enter a new list item" name="user_input" placeholder="Enter new items" autocomplete="off"/>
        <select name="action" id="action" class="eventer">
          <option value="select">Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
        <button type="submit" style="width: 70px;" class="eventer">></button>
      </form>
    </div>
  </body>
</html>
